.client-company {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.client-company__link {
    @extend %centering;
    width: 170px;
    height: 92px;
    border: 1px solid $color-icon;
    border-radius: 4px;
    transition: border-color $animation;

        &:hover,
        &:focus {
            border-color: $accent-color;
        }
}


.client-company__icon {
    fill: $color-icon;
    transition: fill $animation;

    .client-company__link:hover &,
    .client-company__link:focus & {
        fill: $accent-color;
    }
}

