.feature {
    display: flex;

    &__icon {
        @extend %centering;
        @include margin-bottom (30px);
        height: 120px;
        width: 100%;

        border-radius: 4px;
        background-color: $bg-color-secondary;
        background-size: 70px;
        background-repeat: no-repeat;
        background-position: center;
    }

    &__title {
        @include margin-bottom (10px);
        color: $primary-title-color;
        text-transform: uppercase;
        @include font (14px, 1.2, 0.03em);
    }

    &__text {
        @include font (14px, 1.7, 0.03em);
    }

}
.feature__item {
    align-items: center;
    min-width: 270px;
    
    &:not(:last-child) {
        margin-right: 30px;
        }
}




